.contato{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 240px;
}

.contato h2{
    font-weight: lighter;
}

.form{
    margin-top: 30px;
}

.info{
    text-align: center;
    margin: 15%;
    margin-top: 50px;
    margin-bottom: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.info h3{
    margin-top: 50px;
}

.card-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    margin: 20px;
}

.btn{
    height: auto;
    width: auto;
}